<form  name="form" ng-submit="search()">
	<div class="form-group">
		<label for="uid" class="control-label">Identificación</label>
		<div class="input-group col-sm-5">
			<input id="uid" type="text" class="form-control" ng-model="uid" ng-change="clean()" required/> 
			<span class="input-group-btn">
				<button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
			</span>
		</div>
		<span class="help-block text-info">Ingrese CUIL o DNI</span>
	</div>
</form>

<div ng-if="error">
	<div class="alert alert-warning" role="alert">
		Este identificador "<strong>{{uid}}</strong>" ya ha sido relacionado con un nombre de usuario con anterioridad.

		Por favor, para <strong>ingresar</strong> al formulario, siga el <strong>enlace</strong> incluido en el correo enviado a su cuenta de correo electrónico <strong>primario</strong>.
	</div>
	<div class="alert alert-info" role="alert">
		Si desea recibir un <strong>nuevo</strong> correo con un enlace para ingresar, haga click <a href="" ng-click="resend()">aqui</a>.
	</div>

	<div class="alert alert-danger" role="alert">
		Si dicho identificador <strong>le pertenece</strong>, pero usted <strong>no ha llenado</strong> el formulario, o no ha sido <strong>generado automáticamente</strong>, por favor haga click <a href="" ng-click="report()">aqui</a>.
	</div>
</div>